body {
	display: grid;
	grid-template-columns: 10vw [content] 80vw 10vw;
	grid-template-rows: 5vh [content] auto;
	font-size : 24px;
}
input , button { font-size: 24px; }

#content_container , #cloned_content_container {
	display: flex;
	flex-direction: column;
	grid-area: content;
}

#content_container > div , #cloned_content_container > div { margin: 5px 0px; }

#routes , #footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#routes > a { border: 1px solid black; padding: 10px 10px; }

.horizontal_container { 
	display: flex; 
	flex-direction: row;
	justify-content: space-between;
}
.vertical_container {
	display: flex;
	flex-direction: column;
	align-content: space-between;
}
.center_container {
	align-content: center;	
	align-items:  center;
	justify-content: center;
}
.hidden_container {
	display: none;
}
.form_container { margin: 5px 0px; }
.form_label { width : 210px; }
.form_field { width : 240px; }

#header {
	display: flex;
	flex-direction: column;
	align-content: space-between;
}
#header > div { margin: 5px 0px; }

#title { text-align: center; }

#tx_table_header > tr > th { border: 1px solid black; }
#tx_table_header > tr > :nth-child( 1 ) { width: 5%; }
#tx_table_header > tr > :nth-child( 2 ) { width: 7.5%; }
#tx_table_header > tr > :nth-child( 3 ) { width: 7.5%; }
#tx_table_header > tr > :nth-child( 5 ) { width: 7.5%; }
#tx_table_header > tr > :nth-child( 6 ) { width: 7.5%; }
#tx_table_header > tr > :nth-child( 7 ) { width: 15%; }

#tx_table_body > tr > td { border: 1px solid black; height: 40px; vertical-align: middle; text-align: center; }
#tx_table_body > tr > :nth-child( 1 ) { text-align: center }
#tx_table_body > tr > :nth-child( 4 ) { text-align: center }
#tx_table_body > tr > :nth-child( 7 ) { text-align: center }
#tx_table_body > tr > td :not(input[ list = "items" ] , button) { width: 100px; }
#tx_table_body > tr > td > input[ list = "items" ]{ width: 500px }

#controls {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}
#controls > button { margin-top: 5px; width: 180px }
#controls > div > button { width: 180px }

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
form > div { display : flex; flex-direction: row; justify-content: space-between; align-items: center; margin: 5px 0px }
form > div > label { width: 270px;  }

#footer {
	display: flex;
	flex-direction: row;
	align-content: space-between;
}
#footer > div { margin: 5px 0px; }

#signature_label { text-align: center; margin-top: 5px; }

#print_modifiers > .print_checkboxes { padding-bottom: 5px; }

@media print {
	
	form , button , #routes , #add_row , #controls , #search_header , .hidden_print { display: none; }

	#content_container > div , #cloned_content_container > div { margin: 2.5px 0px; }

	body {
		grid-template-columns: [content] 100vw;
		grid-template-rows: 1vh [content] auto;
		font-size: 14px;
		color : black;
	}
	input { 
		border: none;
		color : black;
		font-size: 14px;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}
	input::-webkit-calendar-picker-indicator {
	  display: none;
	}
	input[type=number] {
	  -moz-appearance: textfield;
	}

	td > * { text-align: center }

	#name_input_container { align-content : center; }
	#tx_table_body > tr > td { border: 1px solid black; height: 20px; vertical-align: middle; text-align: center; }
	#tx_table_body > tr > td :not(input[ list = "items" ] , button) { width: 75px; }
	#tx_table_body > tr > td > input[ list = "items" ]{ width: 320px ; }

}